@model ticketing_system.ViewModels.Tickets.CreateTicketViewModel;

<div>
    <form action="@Url.Action("CreateTicketAsync", "Tickets")" method="post">
        <h4>Create ticket</h4>

        <div class="form-group">
            <label asp-for="Urgencies"></label>
            <select class="form-control" required></select>
            <option value="">Select urgency</option>
            @foreach (var urgency in Model.Urgencies)
            {
                <option value="@urgency.Value">@urgency.Text</option>
            }
        </div>
        
        <div class="form-group">
            <label asp-for="TicketTypes"></label>
            <select class="form-control" required></select>
            <option value="">Select ticket type</option>
            @foreach (var ticketType in Model.TicketTypes)
            {
                <option value="@ticketType.Value">@ticketType.Text</option>
            }
        </div>

        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" placeholder="Enter title here" />
            @* ovde može da ide validacija (greške) *@
        </div>

        <div class="form-group">
            <label asp-for="Description"></label>
            <input type="text" asp-for="Description" class="form-control" style="width: 20rem; height: 10rem;" placeholder="Enter description here" />
        </div>

        <div class="form-group">
            <label asp-for="File"></label>
            <input type="file" asp-for="File" class="form-control" placeholder="Enter file here" />
        </div>

        <div class="form-group">
            <label asp-for="Groups"></label>
            <select class="form-control" required></select>
            <option value="">Select group</option>
            @foreach (var group in Model.Groups)
            {
                <option value="@group.Value">@group.Text</option>
            }
        </div>

        <div class="form-control">
            <input type="submit" name="" value="Create" />
        </div>

    </form>
</div>