@model ticketing_system.Models.ViewModels.ChangePassViewModel

<style>
    body {
        overflow-x: hidden;
    }

    .form-div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 25vw;
        min-width: 300px;
        height: 80vh;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(15px);
        padding: 20px;
        border: 2px solid white;
        border-radius: 25px;
    }

    .my-form {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-between;
    }

    .my-btn {
        margin-top: auto;
        padding-top: 20px;
    }

    .my-input {
        background-color: rgba(255, 255, 255, 0.05);
        border: 2px solid white;
        border-radius: 10px;
        backdrop-filter: blur(10px);
        color: wheat;
    }

    .btn {
        width: 100%;
        padding: 1vh 1vw;
        font-size: 1.8vh;
    }

    .pass-change-a {
        font-size: 1.8vh;
    }

    @@media (max-width: 768px) {
        .form-div {
            width: 80vw;
            height: auto;
            padding: 15px;
        }

        .btn, .my-input {
            font-size: 1.6vh;
        }

        .pass-change-a {
            font-size: 1.5vh;
        }
    }

    @@media (max-width: 480px) {
        .form-div {
            width: 90vw;
        }

        .btn {
            font-size: 1.4vh;
        }

        .my-input {
            font-size: 1.4vh;
        }

        a {
            font-size: 1.3vh;
        }
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-12">
            <div class="container form-div mt-4">
                <form action="@Url.Action("UpdatePassword", "ChangePass")" class="my-form" method="post">
                    <div class="text-white-50 text-center mb-2">
                        <h3>Change your password</h3>
                    </div>
                    <div class="form-group p-2">
                        <label asp-for="Username" class="text-light p-1"></label>
                        <input asp-for="Username" type="text" class="form-control my-input" placeholder="Enter username: " />
                        <span asp-validation-for="Username" class="text-warning"></span>
                    </div> 
                    <div class="form-group p-2">
                        <label asp-for="OldPassword" class="text-light p-1"></label>
                        <input asp-for="OldPassword" type="password" class="form-control my-input" placeholder="Enter old password:" />
                        <span asp-validation-for="OldPassword" class="text-warning"></span>
                    </div>
                    <div class="form-group p-2">
                        <label asp-for="NewPassword" class="text-light p-1"></label>
                        <input asp-for="NewPassword" type="password" class="form-control my-input" placeholder="Enter new password:" />
                        <span asp-validation-for="NewPassword" class="text-warning"></span>
                    </div>
                    <div class="form-group p-2">
                        <label asp-for="RepeatedNewPassword" class="text-light p-1"></label>
                        <input asp-for="RepeatedNewPassword" type="password" class="form-control my-input" placeholder="Repeat new password:" />
                        <span asp-validation-for="RepeatedNewPassword" class="text-warning"></span>
                    </div>

                    @{
                        if (ViewData.ModelState["WrongData"] != null && 
                        ViewData.ModelState["WrongData"].Errors.Count > 0)
                        {
                            <span class="p-3 alert alert-warning show mt-3" id="hideWrongData">
                                @ViewData.ModelState["WrongData"].Errors[0].ErrorMessage
                            </span>
                        }
                        else if (ViewData.ModelState["PasswordsNotEqaul"] != null && 
                        ViewData.ModelState["PasswordsNotEqaul"].Errors.Count > 0)
                        {
                            <span class="p-3 alert alert-warning show mt-3" id="hidePasswordsNotEqual">
                                @ViewData.ModelState["PasswordsNotEqaul"].Errors[0].ErrorMessage
                            </span>
                        }
                    }

                    <div class="form-group p-2 my-btn">
                        <input type="submit" class="btn btn-outline-light" value="Update password" />
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="m-5 p-3">
                <div class="second-col-div">
                    <p class="text-light h3 mt-4">
                        In case you forgot your password, enter your email and click "Send email" button. We will send you a 6-character code to reset your password.
                    </p>
                    <form action="@Url.Action("CheckMail", "SendMail")" method="post" class="mt-5">
                        <div class="form-group">
                            <input type="text" name="Email" class="form-control my-input" placeholder="Email: " />
                        </div>
                        <div class="pt-4">
                            <button type="submit" class="form-group btn btn-outline-light">Send email</button>
                        </div>
                    </form>
                    <br>
                    <p class="text-light h5">
                        By clicking the button, you will be redirected to a page where you can update your password.
                    </p>
                    <br>
                    <div class="mt-5 d-flex justify-content-right">
                        <a href="@Url.Action("Index", "Login")" class="text-light text-decoration-none">Return to login...</a>
                    </div>
                    <div id="errorMessage"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>
    setTimeout(function () {
        var messageDiv = document.getElementById("hideWrongData");
        if (messageDiv) {
            messageDiv.style.display = "none";
        }
    }, 5000);

    setTimeout(function () {
        var messageDiv = document.getElementById("hidePasswordsNotEqual");
        if (messageDiv) {
            messageDiv.style.display = "none";
        }
    }, 5000);
</script>
