@model List<ticketing_system.ViewModels.Tickets.ListTicketsViewModel>

<table class="table table-striped small-rows">
    <thead>
        <tr>
            <th>Ticket id</th>
            <th>Creation date</th>
            <th>Urgency</th>
            <th>Ticket Type</th>
            <th>Title</th>
            <th>Status</th>
            <th>Executor</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ticket in Model)
        {
            <tr>
                <td>@ticket.TicketId</td>
                <td>@ticket.CreationDate</td>
                <td>@ticket.UrgencyDes</td>
                <td>@ticket.TicketTypeDesc</td>
                <td>@ticket.Title</td>
                <td>@ticket.Status</td>
                @if (!ticket.Executor.Equals("admin"))
                {
                    <td>@ticket.Executor</td>
                }
                else
                {
                    <td></td>
                }
            </tr>
        }
    </tbody>
</table>